/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2017, 9:01:24 AM
    Author     : BirenDesai
*/
th {
    color: white;
    height: 4px;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Verdana, Arial;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 7px;
}
.display td{
    font-size: 11px;
    margin-top: 0px;
    font-family: Verdana, Arial;
    color: #23527c;

}
table.dataTable.no-footer {
    border: 1px solid #bab8b8;
}
.dataTables_wrapper .ui-toolbar {
    padding: 5px;
}
.dataTables_wrapper .dataTables_paginate .fg-button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 5px;
    margin-left: 2px;
    text-align: center;
    height: 27px;
    text-decoration: none !important;
    cursor: pointer;
    border: 1px solid #bfc0c1;
    font-size: 13px;
    font-family: Verdana, Arial;
    font-weight: bold;
}

.dataTables_length{
    padding-top: 5px;
    font-size: 13px;
    font-family: Verdana, Arial;
    font-weight: bold;
}

/*.select {
    width: 50px;
    height: 20px;
    border: none;
    border: 1px solid #262626;
    font-family: Verdana, Arial;
    font-size: 12px;
}*/
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 8px;

}
.smalltext1{
    width:50px;
    height: 16px;
}
.smalltext2{
    width:70px;
    height: 16px;
}
.smalltext{
    width:90px;
    height: 16px;
}
.midtext{
    width:170px;
    height: 16px;
}
.largeXL1{
    width:250px;
    height: 16px;
}
.logopdf{
    display: inline-block;
    width:16px;
    height:15px;
    background-size: auto 15px;
    background-repeat: no-repeat;
}
.logoxls{
    display: inline-block;
    width:16px;
    height:15px;
    background-size: auto 15px;
    background-image: url("../finactImages/myxls.png");
    background-repeat: no-repeat;
}
.btndiv{
    height: 30px;
    background: #e9e9e9;
    font-family: cursive;
    font-size: 16px;
    color: white;
}
.tablebtn{
    color: black;
    border-radius: 0px;
    background-color:#f9f9f9;
    border: 1px solid #bfc0c1;
    margin-left: 5px;
    font-size: 10px;
    padding: 5px;
}
.tablebtn:hover {
    background-color: #256E9B;
    color: white;
}
header {
    height: 30px;
    background: #23527c;
    font-family: cursive;
    font-size: 16px;
    color: white;
}
p{
    color: white;
    padding-top: 5px;
    font-family: Verdana, Arial;
    font-weight: bold;
}

.toolbar {
    float: left;
}

label {
    font-family: verdana;
    font-size: 11px;
    color: #23527c;
}

.top {
    float: left;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightsteelblue;
    border:1px solid #23527c;
}
.bottom {
    float: right;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightsteelblue;
    border:1px solid #23527c;
}
.center {
    float: center;
    vertical-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
}

/* unvisited link */
a {
    color: #23527c;
}

.finbutton{
    color: white;
    border-radius: 4px;
    height: 20px;
    background-color:#23527c;
    border-color:#2e6da4;
    font-size: 12px;
}

.numberTextbox{
    text-align : right;
}

.dataTables_wrapper .dataTables_paginate {
    padding: 4px;

}
.finErrMsg{
    text-align: center;
    font-family: cursive;
    color: red;
    font-weight: bold;

}